<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

</body>
<script>
  const isUpperCase = char => char === char.toUpperCase();
  const translit = { 'a': 'а', 'b': 'б', 'v': 'в', 'g': 'г', 'd': 'д', 'e': 'е', 'jo': 'ё', 'yo': 'ё', 'ö': 'ё', 'zh': 'ж', 'z': 'з', 'i': 'и', 'j': 'й', 'k': 'к', 'l': 'л', 'm': 'м', 'n': 'н', 'o': 'о', 'p': 'п', 'r': 'р', 's': 'с', 't': 'т', 'u': 'у', 'f': 'ф', 'h': 'х', 'x': 'х', 'c': 'ц', 'ch': 'ч', 'sh': 'ш', 'sht': 'щ', 'y': 'ъ', 'y': 'ы', '\'': 'ь', 'je': 'э', 'ä': 'э', 'ju': 'ю', 'yu': 'ю', 'ü': 'ю', 'ja': 'я', 'ya': 'я', 'q': 'я' };
  const longestKey = o => Object.keys(o).sort((a, b) => b.length - a.length);

  function transliterate(string) {
    let word = '';
    for (let i = 0; i < string.length; i++) {
      if (isUpperCase(string[i]) && translit[string[i].toLowerCase()]) {
        word += translit[string[i].toLowerCase()].toUpperCase();
      }
      else if (translit[string[i]]) {
        word += translit[string[i]];
      }
      else word += string[i];
    }
    return word;
  }

  function transliterate2(string) {
    let word = '', i = 0;
    while (i < string.length) {
      let j = longestKey(translit)[0].length;
      while (j > 0) {
        let original = string.substring(i, i + j);
        let fragment = original.toLowerCase();
        let translated = translit[fragment];
        if (translated) {
          if (original[0] === original[0].toUpperCase()) {
            translated = translit[original[0].toLowerCase()].toUpperCase() + translated.substring(1);
          }
          word += translated;
          i += j;
          break;
        }
        else j--;
        if (j == 0) {
          word += string[i]; 
          i++;
        }
      }
    }
    return word;
  }

  console.log(transliterate("Hristina Decheva"));
  console.log(transliterate2("Hristina Decheva"));
</script>

</html>
