<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-primary" id="btnParse" (click)="parseResults(raceId, competitionType)">Parse results</button>
  </div>
  <input type="text" [(ngModel)]="raceId" placeholder="Race ID..." class="form-control">
</div>

<label>Competition type</label>
<div class="custom-control custom-radio">
  <input name="radio" type="radio" value="1" [(ngModel)]="competitionType">
  <label class="custom-control-label">Two rounds individual</label>
</div>
<div class="custom-control custom-radio">
  <input name="radio" type="radio" value="2" [(ngModel)]="competitionType">
  <label class="custom-control-label">One round individual</label>
</div>
<div class="custom-control custom-radio">
  <input name="radio" type="radio" value="3" [(ngModel)]="competitionType">
  <label class="custom-control-label">Two rounds team</label>
</div>
<div class="custom-control custom-radio">
  <input name="radio" type="radio" value="4" [(ngModel)]="competitionType">
  <label class="custom-control-label">One round team</label>
</div>

<app-two-rounds-results [results]="results" *ngIf="competitionType == 1"></app-two-rounds-results>
<app-one-round-results [results]="results" *ngIf="competitionType == 2"></app-one-round-results>